<nav class="navbar navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">CheckTrips</a>
		<ul class="nav navbar-nav navbar-right">
			<li data-toggle="tooltip" data-placement="bottom" title="Buscar">
				<a href="/search">
					<span class="glyphicon glyphicon-search"></span>
				</a>
			</li>
			<li data-toggle="tooltip" data-placement="bottom" title="Comparar">
				<a href id="compare-btn">
					<span class="glyphicon glyphicon-check"></span>
				</a>
			</li>
		</ul>
	</div>
</nav>