extends layout

block content
	include ./header
	.container
		.row
			.col-sm-4.col-sm-offset-4
				.intro-message
					ol
						each user, i in Funcionario
							li #{user._id}
							li #{user.Correo}
	include ./footer