nav.navbar.navbar-fixed-top
	.container
		a.navbar-brand(href='/') CheckTrips
		ul.nav.navbar-nav.navbar-right
			li
				a(href="/log")
					i.fa.fa-user.fa-2x
			li
				a(href="#")
					i.fa.fa-search.fa-2x
			li
				a#compare-btn
					span.glyphicon.glyphicon-stats
.card.micro#compare-card
	.card-content
		p Funcionarios
	.card-control
		a.flat-btn.pull-right Comparar
