nav.navbar.navbar-fixed-top
	.container
		a.navbar-brand(href='/') CheckTrips
		ul.nav.navbar-nav.navbar-right
			li
				a(href="/log")
					i.fa.fa-user.fa-2x
			li
				a(href="#")
					i.fa.fa-search.fa-2x
			li
				a#compare-btn
					span.glyphicon.glyphicon-check(style="font-size:2rem")
.card.micro#compare-card
	.card-content
		h6 Viajes
		p#f1
		p#f2
	.card-control
		a.flat-btn.pull-right#comparar Comparar
		a.flat-btn.pull-right.normal#limpiar Limpiar
