extends layout

block content
	include ./header
	.intro-header
		.container
			.row
				.col-lg-12
					.intro-message
						h1 
							i.fa.fa-suitcase.fa-fw
							|Check Trips
						h3
							kbd ¿Sabes a donde han viajado nuestros servidores públicos?
						hr.intro-divider
						a.btn.btn-lg.raised-btn(href="/top") Explorar
						p: a(href="#1") 
							span.glyphicon.glyphicon-chevron-down
		.container#1
			.row
				.col-md-3.col-md-offset-1.stats#money
					h2 $100,000.00
	include ./footer