extends layout

block content
	style.
		.navbar {
			background-color:transparent;
		}
	include ./header
	.intro-header
		.container
			.row
				.col-lg-12
					.intro-message
						h1 Check Trips
						h4: kbd Realiza una búsqueda o explora los viajes de los funcionarios
						a.btn.btn-lg.raised-btn(href="/search/top") Explorar
		include ./footer