extends layout

block content
	style.
		.navbar {
			background-color:transparent;
		}
	include ./header
	.intro-header
		.container
			.row
				.col-lg-12
					.intro-message
						h1 Check Trips
						h4: kbd Realiza una búsqueda o explora los viajes de los funcionarios.
						a.btn.btn-lg.raised-btn.inicio(href="/search/top") Explorar
						a.btn.btn-lg.raised-btn.inicio(href="http://slides.com/luisenriquevilla/checktrips") Presentación
						a.btn.btn-lg.raised-btn.inicio(href="http://youtu.be/gL7IANu46Ps") ScreenCast
		include ./footer