extends modulos/header

block contenido
	.intro-header#logeo
		.container
			.row
				.col-sm-4
				.col-sm-4
					.intro-message
						br
						h3 
							i.fa.fa-user.fa-fw
							|Inicio de Seción
						form(role="form")
							.input-group
								span.input-group-addon @
								input.form-control.input-lg(type="email",id="email",placeholder="Ingresa tu Email")
							br
							.input-group
								span.input-group-addon ***
								input.form-control.input-lg(type="password",id="password",placeholder="Ingresa tu Contraseña")
							br
							.input-group
								button.btn.btn-primary(type="submit") Validar Datos
						hr.intro-divider
						ul.list-inline
							li
								a.btn.btn-default.btn-lg(href='#')
									i.fa.fa-edit.fa-fw
									span.network-name Registrate
	footer
		.container
			.row
				.col-lg-12
					p.copyright.text-muted.small Copyright Luis E. Villa 2014.
