.modal.fade#compartir
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal")
					span(aria-hidden="true") &times;
				h4.modal-title Recibir notificaciones
			.modal-body
				p Ingresa tus datos para notificarte
				form
					.group
						input(type="text" required)
						span.highlight
						span.bar
						label Nombre
					.group
						input(type="tel" required)
						span.highlight
						span.bar
						label Teléfono
					.group
						input(type="text" required)
						span.highlight
						span.bar
						label E-mail
					//.modal-footer
					.flat-btn.normal(type="button" data-dismiss="modal") Cancelar
					button.flat-btn Aceptar
.float-btn#trigger
	span.glyphicon.glyphicon-send
.float-btn.social#one(href='#')
	i.fa.fa-facebook
.float-btn.social#two(href='#')
	i.fa.fa-twitter
.float-btn.social#three(href='#')
	i.fa.fa-google-plus