*{
	font-family: Roboto, sans-serif;
}

body,html {
	width: 100%;
	height: 100%;
	font-weight: 300;
	font-family: Roboto, sans-serif;
	background-color: #ECF0F1;
	font-size: 10px;
}

/*---HEADER---*/

.navbar{
	background: #009688;
	max-height: 6.4rem;
}

.nav>li>a{
	color: white;
}

.nav li {
	display: inline-block;
}

a.navbar-brand {
	font-family: 'Lobster Two', cursive;
	font-weight: 400;
	font-style: italic;
	margin: 0;
	font-size: 2.5em;
	color: white;
}

h1 {
	display: inline-block;
	font-family: 'Lobster Two', cursive;
	font-weight: 400;
	font-style: italic;
	margin: 0;
	font-size: 2rem;
}

#compare-card {
	width: 300px;
	position: fixed;
	top:60px;
	right: 10px;
	display: none;
	z-index: 1000;
}

#compare-btn {
	cursor: pointer;
}



/*---INDEX---*/

.intro-header {
	padding-top: 70px;
	padding-bottom: 50px;
	text-align: center;
	background: url(../images/fondo1.jpg) no-repeat center center;
	color: #f8f8f8;
	background-size: cover;
	height: 100%;
}

.intro-header span>.btn {
	color: #FFC107;
}

.intro-message {
	position: relative;
	padding-top: 10%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-size: 5em;
}

.intro-divider {
	width: 80%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.col-md-4 {
	padding: 0 0.4em;
}

.form-control {
	height: 50px;
}

.lead {
	font-size: 18px;
	font-weight: 400;
	text-align: justify;
}

.glyphicon-stats {
	font-size: 1.5em;
	color: gray;
}

.green {
	color: green !important;
}

form {
	margin-top: 3em;
}

.search-box {
	background-color: white;
	width: 500px;
	margin:0 auto;
}

/*---TOP---*/

#main {
	margin-top: 6.4rem;

}

.top-title {
	text-transform: uppercase;
	font-weight: 100;
	margin: 2em 0.5em;
	color: black;
	text-align: left;
}

.compare-icon {
	cursor: pointer;
	font-size: 2rem;
}

/*---PROFILE---*/

#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size:100% auto; 
	height: 300px;
	width: 100%;
}

.details-title {
	font-weight: 500;
	text-transform: uppercase;
	color: black;
	font-size: 2em;
	padding: 0.5em;
	padding-left: 1em;
}

.dl-horizontal dt {
		width: auto;
    margin-right: 1em;
    margin-left: 1em;
    text-align: left;
}
.dl-horizontal dd{
		margin-left: 0.5em;
		text-align: left;
    font-weight: bolder;
}

dl dd {
  text-align: justify;
}

/*---COMPARE---*/

.container-fluid {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	margin-bottom: 1em;
	/*background-image: url("../images/congruent_outline.png");*/
	background-color: #009688;
	height: 19.2rem;
}

.main {
	margin-top: 19.2rem;
}

.chart {
	height: 300px;
}

.tripdesc {
	text-align: center;
	text-transform: uppercase;
	color: white;
	height: 200px;
	padding-top: 5em;
}

/*---INSERT---*/
.tabbable {
	margin-top: 100px;
}

/*---SHARE---*/

.social {
	display: none;
}

#one {
	bottom: 70px;
	background-color:#1c2b49;
}

#two {
	bottom: 130px;
	background-color:#3b88c3;
}

#three {
	bottom: 190px;
	background-color:#d33f2a;
}

/*---SEARCH---*/
#tabs-wrapper {
	margin-top: 12.8rem;
}

#tabs {
	height: 4.8rem;
	font-size: 1.4rem;
	padding-top: 1.7rem;
	padding-bottom: 2rem;
	margin: 0;
	text-transform: uppercase;
}

/*---MEDIA QUERIES---*/

@media only screen and (max-width: 768px){
	/*---HEADER---*/

	.navbar .container {
		padding: 0;
	}

	/*---INDEX---*/

	.intro-message {
		padding-bottom: 100px;
	}

	h1 {
		font-size: 20px;
	}
	h4{
		font-size: 15px;
	}
	.dl-horizontal dt {
		width: 16px;
    margin-right: 1em;
    margin-left: 1em;
    text-align: left;
}
.dl-horizontal dd{
		margin-left: 0.5em;
		text-align: left;
    font-weight: bolder;
}

	.top-title {
	margin: 0.5em 0.5em;
}

	.tripdesc {
		font-size: 1.2em !important;
		height: 150px;
		padding-top: 2.2em;
	}
}